/*table*/

.table {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    line-height: 1.5;
}

.table .tr.thead {
    width: 99%;
}

.table .tr {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.table .tr:hover {
    background-color: #CFE1EE;
    cursor: pointer;
}

.table .tr .td {
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    word-break: break-word;
    min-width: 20px;
    width: 100px;
    border-bottom: 1px solid #e2e2e7;
    display: flex;
    align-items: center;
    font-weight:normal;
}

.table .th.td {
    font-weight: 600;
}

.truncate-auto {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.width0{
    max-width: 50px;
}